@import "reset.scss";
@import "init.scss";
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,700&display=swap");

body {
  background: #555;
  font-family: "IBM Plex Mono", monospace;
  @include fs(0);
}

$w-toolbar: $u-h * 2;
$pad-tb: $u-h/4;

.big-but {
  display: block;
  $s: $w-toolbar - 2 * $pad-tb;
  width: $s;
  height: $s;
  background: white;
  border-radius: $u-h/8;
  border: none;
  cursor: pointer;
  padding: $pad-tb;
  img {
    max-height: $s - 2 * $pad-tb;
    max-width: $s - 2 * $pad-tb;
  }
}

#toolbar {
  position: fixed;
  background: black;
  left: 0;
  top: 0;
  bottom: 0;
  width: $w-toolbar;
  color: white;
  @include fs(-1);
  padding: $pad-tb;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#toolbar .design {
  display: flex;
  flex-direction: column;

  .tb-area + .tb-area {
    margin-top: $pad-tb;
  }
  label {
    @extend .big-but;
  }
  input[type="checkbox"] {
    display: none;
    &:checked {
      & ~ label {
        background: yellow;
      }
    }
  }
}

#toolbar .meta button {
  @extend .big-but;
  & + button {
    margin-top: $pad-tb;
  }
}

#p5js-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: $w-toolbar;
  width: calc(100% -#{$w-toolbar});
  min-height: 100vh;
  padding: $u-h * 2/3;
  canvas {
    box-shadow: 0 0 2px black;
    transform-origin: top right;
    transform: scale(0.7);
  }
}
