@import "reset.scss";
@import "init.scss";
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,700&display=swap");

body {
  background: #777;
  font-family: "IBM Plex Mono", monospace;
  @include fs(0);
}

$w-toolbar: $u-h * 2;
$w-panel: $u-h * 10;
$pad-tb: $u-h/4;

.big-but {
  display: block;
  $s: $w-toolbar - 2 * $pad-tb;
  width: $s;
  height: $s;
  background: white;
  border-radius: $u-h/8;
  border: none;

  text-align: center;

  cursor: pointer;
  @extend .unselectable;

  padding: $pad-tb;
  img {
    max-height: $s - 2 * $pad-tb;
    max-width: $s - 2 * $pad-tb;
  }
  &:hover {
    background: coral;
  }
}

#toolbar {
  position: fixed;
  z-index: 1;

  left: 0;
  top: 0;
  bottom: 0;
  width: $w-toolbar;
  color: white;
  @include fs(-1);
  padding: $pad-tb;

  background: #333;
  @include sombra-3;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#toolbar .design {
  display: flex;
  flex-direction: column;

  .tb-area + .tb-area {
    margin-top: $pad-tb;
  }
  label.label-as-button {
    @extend .big-but;
  }
  input[type="checkbox"] {
    display: none;
    &:checked {
      & ~ label.label-as-button {
        background: orangered;
      }
      & ~ .panel {
        display: grid;
      }
    }
  }
}

.panel {
  display: none;
  position: fixed;
  left: $w-toolbar;
  top: 0;
  bottom: 0;
  z-index: 10;

  background: wheat;
  color: #333;
  text-align: left;
  padding: $pad-tb * 2;

  width: $w-panel;
  @include sombra-3;

  padding-right: $u-h * 3/2;
  h2 {
    position: absolute;
    width: $u-h;
    height: 100vh;
    right: 0;
    top: 0;

    padding: $u-h/2 $u-h/6;

    background: orangered;
    color: white;
    @include faux-caps;
    font-weight: bold;

    writing-mode: vertical-lr;
  }
}

.panel h3 {
  font-weight: bold;
}

.generic-text-field {
  width: 100%;
  padding: $u-h / 4;
  @include fs(-1);
  margin: $u-h/4 0;
  border: none;
  @include sombra-0;
}

.generic-button {
  width: 100%;
  padding: $u-h/6;
  border-radius: 4px;
  border: none;
  background: lightslategrey;
  color: white;
  @include fs(0);
  &:hover {
    background-color: slateblue;
  }
}

.panel button {
  @extend .generic-button;
}

.panel input[type="file"] {
  width: 100;
  @include fs(-2);
}

textarea {
  @extend .generic-text-field;
  &.textarea-g {
    min-height: 24ch;
  }
  &.textarea-p {
    min-height: 18ch;
    @include fs(-2);
  }
}

.panel input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;

  & + label {
    width: 100%;
    @include fs(-1);
    padding: $u-h/4 $u-h/2;
    background-color: white;
    border: 3px solid white;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.6;
    display: flex;
    align-items: center;
    span {
      margin-left: $u-h/4;
    }
    img {
      height: $u-h * 2/3;
    }
  }

  &:checked + label {
    border-color: royalblue;
    font-weight: bold;
    opacity: 1;
  }

  &:focus + label {
    border: 2px dashed #444;
  }
}

.panel {
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  grid-gap: $u-h / 2;
}

#toolbar .meta button {
  @extend .big-but;
  & + button {
    margin-top: $pad-tb;
  }
}

#p5js-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: $w-toolbar;
  width: calc(100% -#{$w-toolbar});
  min-height: 100vh;
  padding: $u-h * 2/3;
  canvas {
    @include sombra-2;
    transform-origin: top right;
    transform: scale(0.7);
  }
}
